* {
    margin: 0;
    border : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: monospace;
}

/* NAVIGATION*/

h1 {
    font-size : 4rem;
}
header {
    background-color: cadetblue;
    text-align: center;
    color:white;
    text-shadow: 1px 1px 1px black;
    border : 0.1rem black solid;
}
nav {
    font-size: 3rem;
    list-style-type: none;

}
nav a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 255, 98);    
}
nav li {
    display: inline;
    margin: 0 0.6rem;
}

/*PAGE INITIAL*/
.butto-nPlay {
    color:black;
    width:11rem;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    margin:3rem auto;
    display: block;
    background-color: coral;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px black;
    
}
 a {
    text-decoration: none;
}

/*TABLE GAME*/

table {
    margin: 1rem auto;
    border-collapse: collapse;
}

td {
    text-align: center;
    width : 2.2rem;
    height: 2.2rem;
    min-width: 2.2rem;
    border-collapse: collapse;
    border : 1px black solid;
}

td a {
    width: 100%;
    height: 100%;
}

.campo {
    width: 100%;
    height: 100%;
    background-color: rgb(182, 181, 181);
}

.campo:hover {
    border: 3px rgb(235, 235, 235) solid;
}

.campo-sem-mina {
    font-size: 1.6rem;
}

.img-bomba {
    width: 80%;
    height: 80%
}

/*LEVEL*/
.level {
    text-align: center;
    font-size: 3rem;
}

.level ul {
    margin : 2rem auto;
    text-align: center;
    display: inline-block;
}

.level li {
    width : 13rem;
    background-color: coral;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 1px 2px black;
}

.level a {
    text-decoration: none;
    color: black;
    list-style-type: none;
}

/* LOSE */

.wrapper-lose {
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
}

.wrapper-lose a {
    width : 7rem;
    font-size: 2rem;
}

.wrapper-lose button {
    font-size: 3rem;
    margin-top: 2rem;
    padding:0.6rem;
    background-color: coral;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}

/*AUTHOR*/
.author {
    text-align: center;
    margin-top: 1rem;
}
.author h2 {
    margin-bottom: 1rem;
}
.author p {
    margin-top: 0.3rem;
    font-size: 1.2rem;
}